<div class="row center-xs">
    <div class="cols-xs-8 col-md-6">
        <div class="box">

        <% @groups.each do |group|%>
            <h1><%= link_to group.name, group%></h1>
            <div>
                <%= group.created_at%> - <%= link_to 'Delete', group,  class: "red", method: :delete%>
            </div>
        <%end%>

        <div>
            <%= link_to "New", new_group_path%>
        </div>
        </div>
    </div>
</div>
