<div class="row center-xs">
<div class="cols-xs-8 col-md-6">
    <div class="box">               
        <h1 >Snapscan</h1>        
        <div>
            <div>
                <%= link_to 'Log In', new_user_session_path, class:'link text-casual-bold text-light text-uppercase' %>
            </div>
            <div>
                <%= link_to 'Sign Up', new_user_registration_path%>
            </div>
        </div>
    </div>
</div>
</div>