<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
   
    <h1>This is a email to remember that a new group is created</h1>     
    
    
    <p> Do not forget to add new subjects after your studying a lesson.</p>

    <p><strong> VavaTracker App &#128218;</strong> </p>
    
  </div>
</div>
</body>
</html>