<div class="row center-xs">
    <div class="col-xs-6">
        <div class="box">
            snapscan
        </div>
        <div class="box">
            <%= button_to "Login", user_login_path, method: :get %>
        </div>        
    </div>
</div>