html.body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.red {
  color: red;
}

.btnBlue {
  background-color: #3878C2 !important;
  // border: none;
  // color: white;
  // padding: 15px 32px;
  // text-align: center;
  // text-decoration: none;
  // display: inline-block;
  // font-size: 16px;
  // margin: 4px 2px;
  //cursor: pointer;
  width: 100%;
  // margin: 200px 0 0 0;
}

.btnWhite {
  background-color: white !important;
  width: 100%;
}

.bg-main{
  background-color: #3878C2;
}